<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.display.mapper.DailyRetainedUserRateMapper">
  <resultMap id="BaseResultMap" type="com.example.display.model.DailyRetainedUserRate">
    <result column="retained_rate" jdbcType="REAL" property="retainedRate" />
    <result column="day" jdbcType="VARCHAR" property="day" />
  </resultMap>
</mapper>